@font-face {
  font-family: 'CentraNo2-Book';
  src: url('../fonts/CentraNo2-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


app.listen(process.env.PORT || 3000, () => console.log(`Listening on port ${process.env.PORT || 3000}!`));

if (process.env.NODE_ENV !== 'development') {
  clientApp.listen(8000, () => console.log('client listening on port 8000'));
}
 